/* .container {
    background-color: rgb(70, 70, 70);
    color: white;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 2.7rem;
}

.item {
    font-size: 1.5rem;
    margin: auto;
} */


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    flex: 1;
    padding: 10px;
}

.column h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.linkList,
.contactList,
.socialList {
    list-style: none;
    padding: 0;
}

.linkList li,
.contactList li,
.socialList li {
    margin-bottom: 10px;
}

.linkList li a,
.socialList li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em; /* Reduced font size for social links */
}

.linkList li a:hover,
.socialList li a:hover {
    text-decoration: underline;
}

.contactList li span {
    font-weight: bold;
}

.bottomRow {
    border-top: 1px solid #444;
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.bottomRow p {
    margin: 0;
    font-size: 0.9em;
}